<h1> Job application data </h1>
<form id="category_form" method="post" action="/jobtracker/addjob/" style="padding-top: 30px">

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
    <div class="form-group row">
        <label class="col-xs-2 col-form-label">{{ field.label }}</label>
        <div class="col-xs-4">
            {{ field }}
        </div>

        <!--div to add users -->


    </div>
    {{ field.errors }}
    {{ field.help_text }}
    {% endfor %}

    <input type="submit" name="submit" value="Add Job"/>

</form>