<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Tracker</title>
    <script src="{% static 'js/jquery-3.1.0.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel='stylesheet' href="{% static 'css/welcome.css' %}"/>
</head>
<body>
<div class="container-fluid" id="my-container">
    <div style="margin-left: 30%;margin-top: 3%;">
        <div style="float: left;width: 200px;">
            <h1 style="width: 190px;text-align: start;color: cornsilk;"> Job Tracker </h1>
        </div>
        <div style="float: left;margin-left: 0px;margin-top: 25px;">
            <span>
                <h4 style="color: cornsilk;"> - One way stop for keep tracking all of your applied jobs </h4>
            </span>
        </div>
    </div>
    <div class="row my-row">
        <div class="col-md-6 text-center" id="login">
            <div class="login-title">
                <h3 class="sign-in-h3">Sign in</h3>
            </div>
            <div class="col-sm-6 bluediv1">
                <form id="login_form" method="post" action="/JobTracker/login/" autocomplete="off">
                    {% csrf_token %}
                    <input type="text" name="username" value="" size="50" class="form-username form-control"
                           placeholder="Username" autocomplete="off"/>
                    <input type="password" name="password" value="" size="50" class="form-password form-control"
                           placeholder="Password" autocomplete="off"/>

                    <button type="submit" value="sign in!" class="btn btn-primary">sign in!</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 text-center" id="signup">
            <div class="registration-title">
                <h3 class="sign-up-h3">Sign Up </h3>
                <p>sign up below to get instant access</p>
            </div>
            <div class="col-sm-6 bluediv2">
                <form id="user_form" method="post" action="/JobTracker/register/"
                      enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    {{ user_form.username }}
                    {{user_form.email}}
                    {{user_form.password}}
                    <button type="submit" name="submit" class="btn btn-primary">sign me up</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>